# Better Content ore-pass configuration. Generated values are validated by tools/bc test static.

Config {
    B:enabled=true
}

Deposit {
    S:customReplacements <
        #minecraft:stone_ore_replaceables -> realisticores:lead_zinc_vein
        #minecraft:deepslate_ore_replaceables -> realisticores:deepslate_lead_zinc_vein
     >

    S:descendants <
        65% -> deposit:silver, 25%
     >

    S:ores <
        realisticores:lead_zinc_vein
     >

    I:rarity=64

    S:replaceableBlocks <
        #realisticores:overworld_ore_replaceables
        #realisticores:overworld_ore_replaceables
     >

    B:vanilla=false

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    Biomes {
        S:blackList <
         >
        S:whiteList <
         >
    }

    Altitude {
        I:max=64
        I:min=16
    }

    Miscellaneous {
        B:exposed=true
        I:maxAttempts=64
        S:proportions=1.0
        B:strictBounds=true
        B:strictStart=false
    }

    Indicator {
        S:circles <
            realisticores:crushed_lead_zinc_vein, 3
            realisticores:crushed_lead_zinc_vein, 6
         >
        S:continuity=25.0
        I:distortion=2
        S:id=
        S:threshold=20.0
    }

    Size {
        I:max=900
        I:min=400
    }
}
