# Better Content ore-pass configuration. Generated values are validated by tools/bc test static.

Config {
    B:enabled=true
}

Deposit {
    S:customReplacements <
        #minecraft:stone_ore_replaceables -> realisticores:nickel_sulfide_ore
        #minecraft:deepslate_ore_replaceables -> realisticores:deepslate_nickel_sulfide_ore
     >

    S:descendants <
        60% -> deposit:cobalt, 25%
        65% -> deposit:platinum, 18% :light_pgm
        65% -> deposit:palladium, 22% :light_pgm
        72% -> deposit:osmium, 10% :heavy_pgm
        72% -> deposit:iridium, 8% :heavy_pgm
        72% -> deposit:rhodium, 6% :heavy_pgm
        72% -> deposit:ruthenium, 12% :heavy_pgm
     >

    S:ores <
        realisticores:nickel_sulfide_ore
     >

    I:rarity=96

    S:replaceableBlocks <
        #realisticores:overworld_ore_replaceables
        #realisticores:overworld_ore_replaceables
     >

    B:vanilla=false

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    Biomes {
        S:blackList <
         >
        S:whiteList <
         >
    }

    Altitude {
        I:max=64
        I:min=-16
    }

    Miscellaneous {
        B:exposed=true
        I:maxAttempts=64
        S:proportions=1.0
        B:strictBounds=true
        B:strictStart=false
    }

    Indicator {
        S:circles <
            realisticores:crushed_nickel_sulfide_ore, 3
            realisticores:crushed_nickel_sulfide_ore, 6
         >
        S:continuity=25.0
        I:distortion=2
        S:id=
        S:threshold=20.0
    }

    Size {
        I:max=900
        I:min=400
    }
}
