# Better Content ore-pass configuration. Generated values are validated by tools/bc test static.

Config {
    B:enabled=true
}

Deposit {
    S:customReplacements <
        #minecraft:stone_ore_replaceables -> pneumaticcraft:oil
        #minecraft:deepslate_ore_replaceables -> pneumaticcraft:oil
     >

    S:descendants <

     >

    S:ores <
        pneumaticcraft:oil
     >

    I:rarity=8192

    S:replaceableBlocks <
        #realisticores:overworld_ore_replaceables
        #realisticores:overworld_ore_replaceables
     >

    B:vanilla=false

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    Biomes {
        S:blackList <
         >
        S:whiteList <
         >
    }

    Altitude {
        I:max=48
        I:min=-32
    }

    Miscellaneous {
        B:exposed=false
        I:maxAttempts=64
        S:proportions=0.35
        B:strictBounds=true
        B:strictStart=false
    }

    Indicator {
        S:circles <
            realisticores:oil_seep, 3
            realisticores:oil_seep, 6
         >
        S:continuity=25.0
        I:distortion=2
        S:id=
        S:threshold=20.0
    }

    Size {
        I:max=3000
        I:min=1200
    }
}
