# Better Content ore-pass configuration. Generated values are validated by tools/bc test static.

Config {
    B:enabled=true
}

Deposit {
    S:customReplacements <

     >

    S:descendants <

     >

    S:ores <
        #forge:ores/ruthenium
     >

    I:rarity=256000

    S:replaceableBlocks <
        #realisticores:overworld_ore_replaceables
        #realisticores:overworld_ore_replaceables
     >

    B:vanilla=false

    Dimensions {
        S:blackList <
         >
        S:whiteList <
            minecraft:overworld
         >
    }

    Biomes {
        S:blackList <
         >
        S:whiteList <
         >
    }

    Altitude {
        I:max=64
        I:min=-64
    }

    Miscellaneous {
        B:exposed=false
        I:maxAttempts=64
        S:proportions=0.65
        B:strictBounds=true
        B:strictStart=false
    }

    Indicator {
        S:circles <

         >
        S:continuity=25.0
        I:distortion=2
        S:id=
        S:threshold=20.0
    }

    Size {
        I:max=100
        I:min=30
    }
}
